nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 12vh;
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: 4;
  /* background-color: #2c2c2f; */
}

h1 {
  color: #fec503;
  font-size: 28px;
  font-family: Kaushan Script, cursive;
}

ul {
  color: white;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  width: 30vw;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}

li:hover {
  color: #fec503;
  cursor: pointer;
}

/* MEDIA QUERIES */
@media (max-width: ) {
}
