nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 12vh;
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: 4;
}

h1 {
  color: #fec503;
  font-size: 28px;
  font-family: Kaushan Script, cursive;
}

ul,
button {
  color: white;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  width: 30vw;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}

li:hover {
  color: #fec503;
  cursor: pointer;
}

button {
  display: none;
  justify-content: space-around;
  width: 90px;
  height: 50px;
  align-items: center;
  border-radius: 5px;
  background-color: #fed136;
  border: none;
}

button:hover {
  background-color: #fec503;
}

img {
  width: 20px;
  filter: invert(1);
}

/* MEDIA QUERIES */
@media (max-width: 1110px) {
  nav {
    background-color: #1b1e22;
    height: 8vh;
  }
}
