.hidden-by-default {
  display: none;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 12vh;
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: 4;
}

h1 {
  color: #fec503;
  font-size: 28px;
  font-family: Kaushan Script, cursive;
}

ul,
button,
.dropdown-style {
  color: white;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  width: 30vw;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.08em;
}

li:hover,
h2:hover {
  color: #fec503;
  cursor: pointer;
}

button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90px;
  height: 45px;
  border-radius: 5px;
  background-color: #fed136;
  border: none;
}

button:hover {
  background-color: #fec503;
}

img {
  width: 20px;
  filter: invert(1);
}

.dropdown-style {
  height: 30vh;
  flex-direction: column;
}

.dropdown-style h2 {
  z-index: -1;
}

div.dropdown-menu,
.dropdown-menu-open,
.dropdown-menu-close {
  width: 89vw;
  height: 30vh;
  background-color: #1b1e22;
  position: fixed;
  top: 8vh;
  padding-left: 11vw;
  z-index: 2;
  transform: translateY(-300px);
}

.dropdown-menu-open {
  animation-name: open;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.dropdown-menu-close {
  animation: close 0.6s forwards linear;
}

/* KEY FRAMES */
@keyframes open {
  from {
    transform: translateY(-300px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes close {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-300px);
  }
}

/* MEDIA QUERIES */
@media (max-width: 1150px) {
  nav {
    background-color: #1b1e22;
    height: 8vh;
  }

  .nav-links {
    display: none;
  }

  .menu-button {
    display: block;
  }
}
